<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

       <title>PLGD</title>
    </head>
    <body>
        <header>
            <nav>
                <div class="navbar-fixed">
                    <nav>
                    <div class="nav-wrapper">
                        <a href="/" class="brand-logo">PLGD</a>
                        <ul class="right hide-on-med-and-down">
                        <li><a href="models.html">Models</a></li>
                        <li><a href="about.html">About</a></li>
                        </ul>
                    </div>
                    </nav>
                </div>
            </nav>
        </header>
        
    
        <form class="md-form" method="post" enctype="multipart/form-data" action="predict_graph">

        <h5>Upload Graph for Classification</h4>

        {% csrf_token %}

        <div class="file-field">
            <div class="btn btn-primary btn-sm float-left">
                <span>Choose file</span>
                <input name="file_path" type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload your file">
            </div>
        </div>

        <input class="btn btn-primary" type="submit" value="Submit" >


        <blockquote>
            Graph classification is {{prediction}}    
        </blockquote>
        
        </form>
    </body>

    <style>
        form {
            padding:2em;
        }

        h5 {
            padding-bottom: 10px;
        }

    </style>

</html>